@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto:300,400,500,700');

body {
	background-color: #f1f1f6;
	font-size: 14px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	color: #676a6c;
	overflow-x: hidden;
	overflow-y: scroll;
}
html,body {
	min-height:100%;
	padding:0;
	margin:0;
}
a {
  color: #00d4bd;
	cursor: pointer;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	transition:all .2s ease-out;
	text-decoration: none;
	outline: 0;
}
a:hover, a:active, a:focus {
	color: #04e6b4;
  outline: 0;
}
a:hover {
	text-decoration: none;
}
ul {
  margin: 0;
	padding-left: 25px;
}
ul.unstyled {
	padding: 0;
  margin: 0;
  list-style: none;
}
textarea {
  resize: vertical;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
	padding-top: 3px;
}
h1 { font-size: 37px; font-family: NTR; font-weight: 400; height: 37px; } h1 .fa {  font-size: 28px; }
h2 { font-size: 22px; } h2 .fa { }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 {
  font-size: 12px;
  font-weight: 400;
}
h6 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
label { font-size: 13px; text-transform: uppercase; margin-bottom: 0px; }
pre { background: white; font-size: 12px; font-weight: 600; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }

#back-top {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 20px;
	padding: 6px 10px;
	text-align: center;
	font-family: FontAwesome;
	font-size: 10px;
	border: 1px solid #aaa;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .20);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .20);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 1050;
}
#back-top:hover {
	border: 1px solid #bbb;
	background-color: #fff;
	color: #aaa;
}

.page-loader {
	position: fixed;
	background: #fff;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9998;
}
.loader {
	position: absolute;
	border-left: 2px solid #b2b2b2;
	border-top: 2px solid rgba(245, 245, 245, 0.8);
	border-right: 2px solid rgba(245, 245, 245, 0.8);
	border-bottom: 2px solid rgba(245, 245, 245, 0.8);
	height: 46px;
	width: 46px;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
	text-indent: -9999em;
	font-size: 10px;
	z-index: 9999;
	-webkit-animation: load 0.8s infinite linear;
	   -moz-animation: load 0.8s infinite linear;
		 ms-animation: load 0.8s infinite linear;
		  o-animation: load 0.8s infinite linear;
			animation: load 0.8s infinite linear;
}
.loader,
.loader:after {
	border-radius: 50%;
	width: 46px;
	height: 46px;
}
@-webkit-keyframes load {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes load {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
.noty_theme__relax.noty_type__default {
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  color: #565656;
}
.noty_theme__relax.noty_type__default .noty_buttons {
  border-color: #ccc;
}
.noty_theme__relax.noty_bar {
  word-wrap: break-word;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.noty_theme__relax .noty_buttons {
  background: rgba(0,0,0,0.1);
  text-align: right;
}
.noty_theme__relax .noty_buttons .btn {
  margin-left: 5px;
}
.noty_theme__relax.noty_bar .noty_body {
  padding: 20px;
}

.navbar-fixed-top .nav-brand {
	position: relative;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	padding-left: 0;
	padding-right: 0;
}
.navbar-fixed-top .nav-brand fra {
	display: inline-block;
}
.navbar-fixed-top .nav-brand .blink_line {
	display: inline-block;
	content: " ";
	width: 8px;
	height: 2px;
	border-bottom: 2px solid #00d4bd;
	-webkit-animation: titleline 0.8s infinite linear;
	-moz-animation: titleline 0.8s infinite linear;
	ms-animation: titleline 0.8s infinite linear;
	o-animation: titleline 0.8s infinite linear;
	animation: titleline 0.8s infinite linear;
}
@-webkit-keyframes titleline {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes titleline {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes popupShowAnimation {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,5px,0);
		-moz-transform:translate3d(0,5px,0);
		-ms-transform:translate3d(0,5px,0);
		-o-transform:translate3d(0,5px,0);
		transform:translate3d(0,5px,0)
		}
	100% {
		opacity:1;
		-webkit-transform:translate3d(0,0px,0);
		-moz-transform:translate3d(0,0px,0);
		-ms-transform:translate3d(0,0px,0);
		-o-transform:translate3d(0,0px,0);
		transform:translate3d(0,0px,0)
	}
}
@keyframes popupCloseAnimation {
	0% {
		opacity:1;
		-webkit-transform:translate3d(0,0px,0);
		-moz-transform:translate3d(0,0px,0);
		-ms-transform:translate3d(0,0px,0);
		-o-transform:translate3d(0,0px,0);
		transform:translate3d(0,0px,0)
	}
	100% {
		opacity:0;
		-webkit-transform:translate3d(0,25px,0);
		-moz-transform:translate3d(0,25px,0);
		-ms-transform:translate3d(0,25px,0);
		-o-transform:translate3d(0,25px,0);
		transform:translate3d(0,25px,0)
	}
}
.show_dropdown {
	animation:popupShowAnimation 200ms;animation-fill-mode:both;
}
.hide_dropdown {
	animation:popupCloseAnimation 200ms;animation-fill-mode:both;
}


.site-search input { margin: 15px 0px 0px 15px; background: rgba(0,0,0,0.1); border: 1px solid rgba(0,0,0,0.2); border-radius: 15px; min-width: 450px; height: 29px; }
.site-search .fa-search { position: absolute; right:0; top:22px; color: rgba(0,0,0,0.3); text-shadow: none; }
.whiteplaceholder::-webkit-input-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }
.whiteplaceholder::-webkit-input-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }
.whiteplaceholder::-webkit-input-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }
.whiteplaceholder::-moz-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }
.whiteplaceholder::-moz-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }
.whiteplaceholder::-moz-placeholder { color: rgba(0,0,0,0.3); text-transform: uppercase; font-weight: 900; font-size:10px; }

.navbar-fixed-top {
  height: 60px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
}
.navbar-fixed-top > ul {
  padding: 0;
  margin: 0;
  height: 60px;
  display: inline-block;
  white-space: nowrap;
}
.navbar-fixed-top > ul > li {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  vertical-align: top;
}
.navbar-fixed-top .nav-width #co_collapse_button {
  padding-right: 13px;
}
.navbar-fixed-top > ul > li > a {
  padding: 22px;
}
.navbar-fixed-top > ul > li .label {
  position: absolute;
  top: 10px;
}
.nav-width {
  width: 200px;
}

.navbar-static-side {
  position: absolute;
  z-index: 500;
  margin-top: 60px;
  width: 200px;
  top: 0px;
}
.navbar-static-side ul > li {
  margin-top: 0px;
}
.navbar-static-side ul li > a > img {
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 0;
  height: 43px;
  z-index: 500;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}
.navbar-static-side ul > li > a {
  padding: 17px 15px 16px 15px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 0px solid #ddd;
  text-transform: uppercase;
  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-static-side ul > li .label {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0px 0px 0px 5px;
}
.navbar-static-side ul > li > a:hover, .navbar-static-side ul > li > a:focus, .navbar-static-side ul > li > a:active {
  background: #FFF;
}
.navbar-static-side ul > li.active > a, .navbar-static-side ul > li.active > a:focus, .navbar-static-side ul > li.active > a:hover {
  background: #fff;
  color: #00d4bd;
  border-left: 3px solid #00d4bd;
}
.navbar-static-side ul > li.active:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  z-index: 15;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 8px solid #FFF;
}
.navbar-static-side ul > li > a > i {
  font-size: 17px;
  margin-right: 7px;
  margin-top: -4px;
  vertical-align: middle;
}
.navbar-static-side ul  ul.collapse li a {
  border-left-width: 3px;
  background-color: #FFF;
  margin-top: 0px;
}
.navbar-static-side ul  ul.collapse li a:hover {
}
.navbar-static-side ul  ul.collapse li a i {
}
.carrotsmall [data-toggle="collapse"] {
  border-left-width: 3px;
  color: #00d4bd;
  background: #FFF;
}

.carrotsmall [data-toggle="collapse"].collapsed {
  border-left: 0px solid;
  color: inherit;
  background: transparent;
}
.carrotsmall [data-toggle="collapse"] span:after {
  font-family: 'FontAwesome';
  content:"\f078";
  position: absolute;
  right: 5px;
  font-size: 10px;
  line-height: 18px;
	color: #00d4bd;
  text-shadow: none;
  -webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.carrotsmall [data-toggle="collapse"].collapsed span:after {
  color: #676a6c;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}
.navbar-static-side ul > li > a.p-l-50 {
  padding-left: 50px;
}
.navbar-static-side ul > li > a.f-c-themed {
  color: #00d4bd !important;
}
.navbar-static-side ul > li > a.f-c-themed:hover {
  color: #676a6c !important;
}
.carrotsmall [data-toggle="collapse"]:hover {
  color: #00d4bd;
  background: #FFF;
}

.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li + li:before {
  padding: 0 0px;
}
.breadcrumb > li a {
  color: #bbb;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.breadcrumb > .active {
  color: #888;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.title_nav {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
}
.title_nav:after {
	clear: both;
	content: " ";
	display: table;
}
.title_nav li {
	vertical-align: top;
	display: table-cell;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	border-left: 1px dashed #ddd;

}
.title_nav li > a {
	display: inline-block;
	vertical-align: top;
	padding: 8px 0px 5px 0px;
	margin: 0px 20px;
	color: #777;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}
.title_nav li > a:hover {
	color: #00d4bd;
}
.title_nav li.active > a {
	color: #00d4bd;
	border-bottom: 2px solid #00d4bd;
}
.title_nav li:last-child {
	border-right: 1px dashed #ddd;
	width: 100%;
}
.title_nav li.title {
	border: none;
}
.title_nav li.title > a {
	border-bottom: 0px solid transparent;
	padding: 0;
	margin: 0;
}
.title_nav li.title > a:hover {
	color: #00d4bd;
}
.title_nav li.title.active > a {
	color: #777;
	border-bottom: 0px solid #00d4bd;
}

.page-wrapper {
  position: relative;
  min-height: calc(100vh - 60px);
  margin: 60px 0 0 200px;
  padding: 0 0px 35px 0px;
  border-left: 1px dashed #ddd;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.wrapper-content {
	padding: 30px;
}

.page_footer {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border-top: 1px dashed #ddd;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

.modal { padding: 0 !important; }
.modal.fade .modal-dialog { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.modal.fade:not(.in) .modal-dialog { -webkit-transform: translate3d(25%, 0, 0); transform: translate3d(25%, 0, 0); }
.modal_error_window { position: absolute; left: -25px; top: 7px; }
.modal_error_window .close { color: white; opacity: 1; font-size: 30px; }
.modal-dialog {
  background: #f1f1f6;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
	margin: 100px auto;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}
#doc_editor .modal-dialog { position: absolute; top: 0; right: 0; bottom: 0; margin: 0; width: calc(100% - 200px); }
.modal-content {
  background: #f1f1f6;
	border: none;
	box-shadow: none;
	padding-bottom: 85px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}
#doc_editor .modal-content { position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 0; overflow: auto; }
.modal-footer {
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #ffffff;
	border-top: 1px solid #ccc;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
#doc_editor .modal-footer { padding: 15px; }
.modal-header { padding: 25px 20px; border-bottom: 0px dashed #ddd; }
.modal-header .close { margin-top: 2px; font-size: 30px; }
.modal-body { margin: 0 20px; background: #FFFFFF; }
.modal-backdrop.in { filter: alpha(opacity=20); opacity: .2; }
@media (min-width: 992px) { .modal-lg { width: calc(100% - 200px); } }

.elementlink { cursor: pointer; }
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
	height: 37px;
  font-size: 13px;
	box-shadow: none;
}
.form-control:focus, .single-line:focus { box-shadow: 0 0 2px rgba(0,212,189,0.5);border-color: #00d4bd !important; }
.form-control-sm {
	height: 30px;
}
.input-group-addon {
	background: white;
	-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
	border: 1px solid #ddd;
	border-left: none;
}
.dropdown-menu {
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 0px solid #ddd;
	-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
	padding: 10px;
	margin-bottom: 80px;
  z-index: 1100;
}
.btn {
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 13px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	border: 1px solid rgba(0,0,0,0);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
}
.btn-group-sm>.btn, .btn-sm {
	padding: 8px 9px;
	font-size: 11px;
	line-height: 1;
}
.btn-group-xs>.btn, .btn-xs {
	padding: 5px 7px;
  font-size: 11px;
  line-height: 1;
}
.btn-default {
  background-color: transparent;
	border-color: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.4);
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
  background-color: rgba(255,255,255,0.8);
	border-color: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.5);
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #FFF;
	border-color: #CCC;
	color: #999;
}
.btn-themed {
  background-color: #00d4bd;
	color: #FFFFFF;
}
.btn-themed:hover,
.btn-themed:focus,
.btn-themed:active,
.btn-themed.active,
.open .dropdown-toggle.btn-themed,
.btn-themed:active:focus,
.btn-themed:active:hover,
.btn-themed.active:hover,
.btn-themed.active:focus {
  background-color: #00b3a0;
  color: #FFFFFF;
}
.btn-themed.disabled,
.btn-themed.disabled:hover,
.btn-themed.disabled:focus,
.btn-themed.disabled:active,
.btn-themed.disabled.active,
.btn-themed[disabled],
.btn-themed[disabled]:hover,
.btn-themed[disabled]:focus,
.btn-themed[disabled]:active,
.btn-themed.active[disabled],
fieldset[disabled] .btn-themed,
fieldset[disabled] .btn-themed:hover,
fieldset[disabled] .btn-themed:focus,
fieldset[disabled] .btn-themed:active,
fieldset[disabled] .btn-themed.active {
  background-color: #76d3ef;
}
.btn-primary {
  background-color: #23b7e5;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #137fa0;
  color: #FFFFFF;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #76d3ef;
  color: #FFFFFF;
}
.btn-info {
	background-color: #26d6d9;
	color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
  background-color: #1fabad;
	color: #fff;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #7de6e8;
	color: #fff;
}
.btn-success {
  background-color: #00cc99;
	color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
  background-color: #009973;
	color: #FFFFFF;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #1affc6;
	color: #FFFFFF;
}

/* LABELS */
.checkbox label, .radio label { font-weight: 600; }
.checkbox input[type="checkbox"], .checkbox input[type="radio"] { cursor: pointer;}
.label {
  padding: 2px 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.label-default {
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	color: #888
}
.label-themed {
	background-color: #23b7e5;
	color: #FFFFFF;
}
.label-primary {
	background-color: #23b7e5;
	color: #FFFFFF;
}
.label-gray {
	background: #737373;
	color: #FFFFFF;
}
.label-info {
	background-color: #23c6c8;
	color: #FFFFFF;
}
.label-success {
	background-color: #00cc99;
	color: #FFFFFF;
}

/* ALERTS */
.alert {
	margin: 0px;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}
.alert-default {
	background: #FFF;
	border-color: #CCC;
	color: #777;
}
.alert-themed {
	background: #e8f8fc;
	border-color: #bbe9f7;
	color: #23b7e5;
}
.alert-primary {
	background: #e8f8fc;
	border-color: #bbe9f7;
	color: #23b7e5;
}
.alert-gray {
	border-color: #d9d9d9;
	background: #f2f2f2;
	color: #808080;
}
.alert-info {
	color: #1fabad;
	background-color: #e9fbfb;
	border-color: #bef3f4
}
.alert-success {
	color: #00b386;
	background-color: #e6fff9;
	border-color: #b3ffec;
}
.alert-danger {
	color: #f7605d;
	background-color: #ffe6e6;
	border-color: #ffabaa;
}

.arrow-r-s {
	position: relative;
}
.arrow-r-s:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 15;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 6px solid #FFF;
}
.bg-primary.arrow-r-s:after {
  border-left-color: #23b7e5;
}
.bg-warning.arrow-r-s:after {
  border-left-color: #2bca00;
}
.bg-success.arrow-r-s:after {
  border-left-color: #00d4bd;
}

/* CLEARFIXES*/
.tab-content:after {
	clear: both;
	content: " ";
	display: table;
}
.load_overlay { position: relative; }
.remove_overlay { position: absolute; top: 0; right: 0; display: block; color: #aaa; padding: 3px 5px; }
.load_overlayer { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
.nav-pills>li>a { border-radius: 0px; }
.nav>li>a:focus, .nav>li>a:hover { background-color: #fff; }
ul.nav ul.collapse li a { border-left-width: 3px; background-color: #fff; }

.nav-tabs { margin-bottom: 15px; border-bottom: none; }
.nav-tabs>li { margin-bottom: 0px; }
.nav-tabs>li>a,.nav-tabs>li>.pull-right { position: initial; line-height: 37px; margin-right: 0px; padding: 0 15px; color: inherit; border: 0px solid #fff; text-transform: uppercase; font-weight: 500; }
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover { background: transparent; color: #00d4bd; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { border: 0px solid #fff; color: #00d4bd; }
.nav-tabs>li.active:after {
	content: "";
	position: absolute;
	top: 100%;
	left: calc(50% - 26px);
	z-index: 15;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-top: 8px solid #FFF;
}
.nav-tabs.nav-stacked { margin-bottom: 0px; }
.nav-tabs.nav-stacked>li+li { margin-top: 0px; }
.nav-tabs.nav-stacked>li>a,.nav-tabs.nav-stacked>li>.pull-right { line-height: 50px; }
.nav-tabs.nav-stacked>li.active:after {
	content: "";
	position: absolute;
	top: calc(50% - 26px);
	left: 100%;
	z-index: 15;
	width: 0;
	height: 0;
	border-top: 26px solid transparent;
	border-bottom: 26px solid transparent;
	border-left: 8px solid #FFF;
}


.hand { cursor: move; }
.cropmewrapper {
	width: 100%;
	min-width: 10px;
	display: inline-block;
	position: relative;
	padding-top: 30%;
}
.cropmewrapper.square {
	width: 100%;
	min-width: 10px;
	display: inline-block;
	position: relative;
	padding-top: 100%;
}
.cropmewrapper .cropme {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.cropme{
	position: relative;
  float: left;
  margin: 0px;
	color: #ccc;
  border: 1px dashed transparent;
  cursor: pointer;
	-webkit-transition:all .2s ease-out;
  -moz-transition:all .2s ease-out;
  transition:all .2s ease-out;
}
.cropme::after {
	position: absolute;
	font-size: 50px;
	left: calc(50% - 26px);
	top: calc(50% - 34px);
	font-family: FontAwesome;
	content: "\f030";
}
.cropme img {
  width: 100%;
}
.cropme:hover{
  color: #00d4bd;
  border: 1px dashed #00d4bd;
}
/* GRID STACK */
.grid-stack-item-content {
  bottom: auto !important;
  overflow: visible !important;
  min-height: 20px;
}
.grid-stack {
  margin-left: -10px;
  margin-right: -10px;
}
.grid-stack-form-drag .grid-stack-item-content a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: inherit;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	padding-left: 5px;
	background: rgba(35, 183, 229, 0.2);
	border: 1px dashed rgba(35, 183, 229, 0.4);
}
.grid-option-label {
	font-family: Oswald;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
}
.grid-input-display {
	background-color: #FFFFFF;
	border: 1px solid #eee;
	border-radius: 1px;
	display: block;
	padding: 6px 12px;
	height: 32px;
}

/* COLOR PICKER*/
.sp-replacer {
	display: block;
	border: solid 1px #ddd;
	background: #fff;
	padding: 6px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.sp-replacer:hover {
	border: solid 1px #999;
}
.sp-preview {
	width: 100%;
}
.sp-container {
	border-radius: 2px;
	background-color: #fff;
	border: solid 1px #ddd;
}
.sp-replacer .sp-dd {
	display: none;
}
/* SELECT 2 */
.selectgroup .dropdown-menu {
	max-width: 750px;
}
.select2 { width: 100% !important; }
.select2-container--default .select2-selection--single {
  border: 1px solid #ddd;
  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
  padding: 2px;
  height: auto;
  min-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit;
  line-height: 33px;
  font-size: 12px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	outline: none;
  border: 1px solid #00d4bd;
	box-shadow: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus, .select2-container--default .select2-search--dropdown .select2-search__field:active {
	border: 1px solid #00d4bd;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px;
}

.select2-container--default .select2-results__group {
	color: #ffffff;
  background: #9c9c9c;
  font-size: 11px;
  padding: 8px 4px;
  text-transform: uppercase;
  font-weight: 500;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #00d4bd;
  outline: 0;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #ddd;
	-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
  cursor: text;
	font-size: 11px;
}
.select2-b-p-0 .select2-container--default .select2-selection--multiple, .select2-b-p-0 .select2-container--default .select2-selection--single {
	border: 0px solid #ddd;
}
.select2-container .select2-selection--multiple {
  min-height: 34px;
}
.select2-container .select2-search--inline .select2-search__field {
  margin: 11px 0px 7px 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 5px;
	background: #aeecff;
	color: inherit;
	font-weight: 500;
	font-size: 11px;
	border: 0px solid #a2ebff;
	text-transform: uppercase;
	padding: 8px 8px 7px 8px;
	-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
	line-height: 1;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #9faaad;
	margin-right: 3px;
	font-size: 14px;
	line-height: 12px;
}
.select2-dropdown, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border: 1px solid #00d4bd;
  -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #00d4bd;
}
.select2-results__option[aria-selected] {
  font-weight: 500;
  font-size: 13px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #00d4bd;
  color: #FFF;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #00d4bd;
  color: #FFF;
}

.sortabletask .handle {
	cursor: move;
}
.sortable_placeholder {
	display: inline-block;
  position: relative;
  background: #f2f9fd;
  color: #fff;
  -webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
  outline: 1px dashed #ddd;
	margin-bottom: 0px;
}
.ui-draggable-dragging {
  z-index: 1000;
}
.ui-sortable-helper {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3)
}
#pageloader_assigned, #pageloader_progress, #pageloader_complete {
  min-height: 150px;
  position: relative;
}
.over {
  background: aliceblue;
  border: 1px dashed #aaa;
  margin-bottom: 15px;
}



/* START RIGHT SPLIT SRHINK STYLING */

/* HIDDEN SHRINK RIGHT */
.page-wrapper .hs-block { display: block; }
.page-wrapper.shrink-right .hs-block { display: none; }
.page-wrapper .hs-inline-block { display: inline-block; }
.page-wrapper.shrink-right .hs-inline-block { display: none; }
.page-wrapper .hs-table-cell { display: table-cell; }
.page-wrapper.shrink-right .hs-table-cell { display: none; }

/* VISIBLE SHRINK RIGHT */
.page-wrapper .vs-block { display: none; }
.page-wrapper.shrink-right .vs-block { display: block; }
.page-wrapper .vs-inline-block { display: none; }
.page-wrapper.shrink-right .vs-inline-block { display: inline-block; }
.page-wrapper .vs-table-cell { display: none; }
.page-wrapper.shrink-right .vs-table-cell { display: table-cell; }

/* END RIGHT SPLIT SRHINK STYLING */
